body
{
    background-color: aquamarine;
}
.sec1
{
    background-color: beige;
    grid-column: 1;
}
header
{
    background-color: blueviolet;
    grid-column: 2/5;
}
p
{
    background-color: aqua;
    grid-column: 2/4;
}
footer{
    background-color: red;
    grid-column: 1/5;
}
main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}
@media screen and (max-width: 786)
{
    main 
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 60)
{
    main 
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}