body
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#byeah
{
    width: 3fr;
    grid-column: 1/4;
    grid-row: 1;
}
#desk
{
    grid-column: 3;
    grid-row: 2;
    width: 330px;
    border-radius: 100%;
    border-color: grey;
    background-color: lightgray;
}
#circle
{
    width: 300px;
    grid-column: 2;
    grid-row: 2;
    border-radius: 100%;
    border-color: grey;
    background-color: lightgray;
}
#think
{
    width: 330px;
    grid-column: 1;
    grid-row: 2;
    border-radius: 100%;
    border-color: grey;
    background-color: lightgray;
}